<div class="modal-header">
  <h4 class="modal-title pull-left">Edycja profilu</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="profileForm">
    <div class="form-group">
      <label for="firstName">Imię</label>
      <input type="text" class="form-control" formControlName="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Nazwisko</label>
      <input type="text" class="form-control" formControlName="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Numer telefonu</label>
      <input type="text" class="form-control" formControlName="phoneNumber">
    </div>

    <div class="form-group">
      <label for="oldPassword">Stare hasło</label>
      <input type="password" class="form-control" formControlName="oldPassword">
    </div>

    <div class="form-group">
      <label for="newPassword">Nowe hasło</label>
      <input type="password" class="form-control" formControlName="newPassword">
    </div>

    <div class="form-group">
      <label for="confirmPassword">Potwierdź hasło</label>
      <input type="password" class="form-control" formControlName="confirmPassword">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Anuluj</button>
  <button type="button" class="btn btn-primary" [disabled]="!(profileForm.valid)" (click)="editProfile()"
    form="profileForm">Zatwierdź</button>
</div>