<div class="container">
  <div class="text-center m-3">
    <form *ngIf="!employee" class="form-inline" [formGroup]="equipmentNumberForm"
      (ngSubmit)="assignClientToEquipment()">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="equipmentNumber" placeholder="Add equipment by ID">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>
    <div class="row justify-content-center" *ngIf="employee">
      <button class="btn btn-info" (click)="addEquipmentModal()">Add equipment</button>
      <form class="form-inline" [formGroup]="equipmentNumberForm" (ngSubmit)="searchEquipment()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="equipmentNumber"
            placeholder="Search equipment by ID">
          <button class="btn btn-primary" type="submit"
            [disabled]="this.equipmentNumberForm.controls.equipmentNumber.value.length < 1">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="text-center mb-4">
    <h2>Found {{pagination.totalItems}} repairs</h2>
  </div>

  <app-filter (form)="reloadEquipments($event)" [employee]="employee" [currentUserId]="currentUserId">
  </app-filter>
  <br>

  <div class="card-group mt-3">
    <div *ngFor="let equipment of equipments" class="p-3 col-6 col-lg-4">
      <app-equipment-card [equipment]="equipment" [employee]="employee"></app-equipment-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
</div>