<div *ngIf="employee">
  <div class="text-center">
    <span *ngIf="equipment.releaseDate === null">
      <span *ngIf="equipment.status !== 'Naprawiony'">
        <button type="button" class="btn btn-primary mr-2" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Dodaj element</button>
        <button type="button" class="btn btn-primary mr-2" (click)="setRepairedStatus()">Oznacz jako naprawiony</button>
      </span>
      <span *ngIf="equipment.status === 'Naprawiony'">
        <button type="button" class="btn btn-primary mr-2" (click)="releaseEquipment()">Wydaj sprzęt</button>
      </span>
    </span>
  </div>
  <hr>
  <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
    <form [formGroup]="elementForm" (ngSubmit)="addElement()">
      <div class="form-group">
        <select class="form-control" formControlName="nameId">
          <option value="null" disabled>- Element -</option>
          <option *ngFor="let name of nameOptions" [value]="name.id">{{name.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <select class="form-control" formControlName="warrantyRepair">
          <option value="null" disabled>- Naprawa gwarancyjna -</option>
          <option *ngFor="let option of boolOptions" [value]="option">{{option ? 'Tak' : 'Nie'}}</option>
        </select>
      </div>

      <div class="form-group">
        <textarea class="form-control" rows="1" formControlName="description" placeholder="Opis"></textarea>
      </div>

      <button type="button" class="btn btn-default" (click)="elementForm.reset()">Anuluj</button>
      <button type="submit" class="btn btn-primary" [disabled]="!(elementForm.valid)">Dodaj element</button>
    </form>
  </div>
</div>
<div class="m-4 text-center">
  <h4>{{equipment.name}}</h4>
</div>
<hr class="divider">
<div *ngIf="elements !== undefined && elements.length > 0">
  <div *ngFor="let element of elements" class="m-2">
    <app-element-card [element]="element"></app-element-card>
  </div>
</div>
<div *ngIf="!(elements !== undefined && elements.length > 0)">
  <div class="m-4 text-center">
    <h4>Brak dodanych elementów!</h4>
  </div>
</div>