<div class="card">
  <div class="card-header text-center">{{element.status}}</div>
  <div class="card-body">
    <h5 class="card-title text-center">{{element.name}}</h5>
    <p class=" card-text">
      <p>{{element.description}}</p>
      <p class="text-muted">
        Warranty Repair: {{element.warrantyRepair === true ? 'Yes' : 'No'}}</p>
      <p class="text-muted" *ngIf="element.newWarrantyPeriod">
        New Warranty Period: {{element.newWarrantyPeriod | date}}
      </p>
      <p class="text-muted" *ngIf="element.partsCost">
        Parts Cost: {{element.partsCost}}
      </p>
      <p class="text-muted" *ngIf="element.serviceCost">
        Service Cost: {{element.serviceCost}}
      </p>
      <footer class="blockquote-footer" *ngIf="element.servicemanName !== null ">
        {{element.servicemanName}}</footer>
  </div>
</div>