<div class="container mt-5">
  <h2>Admin Panel</h2>
  <div class="tab-panel">
    <tabset class="member-tabset">
      <tab heading="User Management" *appHasRole="['Admin']">
        <div class="container">
          <app-user-management></app-user-management>
        </div>
      </tab>
      <tab heading="Repairs" *appHasRole="['Admin', 'Moderator']">
        <app-history [admin]="true"></app-history>
      </tab>
      <tab heading="Statistics" *appHasRole="['Admin']">
        <app-statistics></app-statistics>
      </tab>
    </tabset>
  </div>
</div>