<div class="container">
   <div class="row m-4">
      <div class="mx-auto">
         <button class="btn btn-primary btn-lg mr-2" (click)="loadStatistics('name')">Nazwa elementu</button>
         <button class="btn btn-primary btn-lg mr-2" (click)="loadStatistics('status')">Status</button>
         <button class="btn btn-primary btn-lg mr-2" (click)="loadStatistics('warrantyRepair')">Naprawa
            gwarancyjna</button>
         <button class="btn btn-primary btn-lg mr-2" (click)="loadStatistics('serviceman')">Serwisant</button>
      </div>
   </div>
   <div class="row">
      <div *ngIf="chartReady" class="mx-auto" style="width: 60%;">
         <canvas baseChart [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels"
            [options]="chartOptions" [legend]="legend" [colors]="colors">
         </canvas>
      </div>
   </div>
   <div class="row m-4">
      <div class="mx-auto">
         <button class="btn btn-primary btn-lg mr-2" (click)="setChartType('bar')">Kolumnowy</button>
         <button class="btn btn-primary btn-lg mr-2" (click)="setChartType('line')">Liniowy</button>
         <button *ngIf="namesArray.length > 2" class="btn btn-primary btn-lg mr-2"
            (click)="setChartType('radar')">Radarowy</button>
         <button class="btn btn-primary btn-lg mr-2" (click)="setChartType('pie')">Kołowy</button>
         <button class="btn btn-primary btn-lg mr-2" (click)="setChartType('doughnut')">Pierścieniowy</button>
         <button class="btn btn-primary btn-lg mr-2" (click)="setChartType('polarArea')">Powierzchniowy</button>
      </div>
   </div>
</div>