<div class="card">
  <div class="card-header text-center">{{equipment.status}}</div>
  <div class="card-body">
    <h5 class="card-title text-center">{{equipment.name}} ({{equipment.id}})</h5>
    <p class=" card-text">
      <p>{{equipment.problemDescription}}</p>
      <p class="text-muted">
        Data przyjęcia: {{equipment.requestDate | date}}
        <p class="text-muted" *ngIf="equipment.releaseDate">
          Data wydania: {{equipment.releaseDate | date}}
        </p>
  </div>
  <div class="card-footer text-muted text-center">
    <span *ngIf="equipment.employeeName !== null" class="float-left"
      (click)="$event.stopPropagation();toggleCollapse(equipment.employeeName)">
      Pracownik: {{equipment.employeeName}}
    </span>
    <span class="float-right" *ngIf="equipment.clientName !== null"
      (click)="$event.stopPropagation();toggleCollapse(equipment.clientName)">
      Klient: {{equipment.clientName}}
    </span>
    <br>
    <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
      <span>Numer telefonu: {{contactDetails.phoneNumber}}</span>
      <br>
      <span>Adres email: {{contactDetails.email}}</span>
    </div>
  </div>
</div>