<div class="card" (click)="showElementsModal()">
  <div class="card-header text-center">{{equipment.status}}</div>
  <div class="card-body">
    <h5 class="card-title text-center">{{equipment.name}} ({{equipment.id}})</h5>
    <p class=" card-text">
      <p>{{equipment.problemDescription}}</p>
      <p class="text-muted">
        Data przyjęcia: {{equipment.requestDate | date}}
        <p class="text-muted" *ngIf="equipment.releaseDate">
          Data wydania: {{equipment.releaseDate | date}}
        </p>
  </div>
  <div class="card-footer text-muted text-center">
    <div class="inline">
      <span class="float-left">
        Pracownik: {{equipment.employeeName}}
      </span>
      <span class="float-right" *ngIf="equipment.clientName !== null">
        Klient: {{equipment.clientName}}
      </span>
    </div>
  </div>
</div>