<div class="modal-header">
  <h4 class="modal-title pull-left">Edytuj element (ID {{editedElement.id}})</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="elementForm" (ngSubmit)="updateElement()">
    <div class="form-group">
      <label for="status">Status</label>
      <input type="text" class="form-control" formControlName="status">
    </div>

    <div class="form-group">
      <label for="status">Opis</label>
      <input type="text" class="form-control" formControlName="description" placeholder="Opis problemu">
    </div>

    <div class="form-group">
      <label for="status">Naprawa gwarancyjna</label>
      <select class="form-control" formControlName="warrantyRepair">
        <option value="null" disabled>- Naprawa gwarancyjna -</option>
        <option *ngFor="let option of boolOptions" [value]="option">{{option === true ? 'Tak' : 'Nie'}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="status">Termin nowej gwarancji</label>
      <input class="form-control" formControlName="newWarrantyPeriod" type="text" bsDatepicker>
    </div>

    <div class="form-group">
      <label for="status">Koszt części</label>
      <input type="text" class="form-control" formControlName="partsCost">
    </div>

    <div class="form-group">
      <label for="status">Koszt usługi</label>
      <input type="text" class="form-control" formControlName="serviceCost">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Anuluj</button>
  <button type="button" class="btn btn-primary" (click)="updateElement()" form="elementForm">Zatwierdź</button>
</div>