<div class="container">
  <div class="text-center m-3">
    <form *ngIf="!admin" class="form-inline" [formGroup]="repairNumberForm" (ngSubmit)="assignRepair()">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="repairNumber" placeholder="Add repair by number">
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>
    <button *ngIf="admin" class="btn btn-info" (click)="addRepairModal()">Add repair</button>
  </div>

  <div class="text-center mb-4">
    <h2>Found {{pagination.totalItems}} repairs</h2>
  </div>

  <app-filter (form)="reloadRepairs($event)" [elementNameOptions]="elementNames" [resultOptions]="resultNames">
  </app-filter>
  <br>

  <div class="card-group mt-3">
    <div *ngFor="let repair of repairs" class="p-3 c
    ol-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{repair.elementName}} ({{repair.repairId}})</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{repair.result}}</h6>
          <p class="card-text">
            <p>{{repair.description}}</p>
            <p>
              Warranty repair:
              <span *ngIf="repair.warrantyRepair">yes</span>
              <span *ngIf="!repair.warrantyRepair">no</span>
            </p>
            <p *ngIf="repair.warrantyExpiryDate">
              Warranty to: {{repair.warrantyExpiryDate | date}}
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
</div>