<div class="modal-header">
  <h4 class="modal-title pull-left">Stwórz nowe konto</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
      <input type="text"
        [ngClass]="{'is-invalid': registerForm.get('userName').errors && registerForm.get('userName').touched}"
        class="form-control" formControlName="userName" placeholder="Nazwa użytkownika">
      <div class="invalid-feedback">Nazwa użytkownika jest obowiązkowa</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('firstName').errors && registerForm.get('firstName').touched}"
        type="text" class="form-control" formControlName="firstName" placeholder="Imię">
      <div class="invalid-feedback">Podaj swoje imię</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('lastName').errors && registerForm.get('lastName').touched}"
        type="text" class="form-control" formControlName="lastName" placeholder="Nazwisko">
      <div class="invalid-feedback">Podaj swoje nazwisko</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
        type="password" class="form-control" formControlName="password" placeholder="Hasło">
      <div *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched"
        class="invalid-feedback">Hasło jest obowiązkowe</div>
      <div *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched"
        class="invalid-feedback">Hasło musi mieć conajmniej 4 znaki</div>
      <div *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched"
        class="invalid-feedback">Hasło nie może być dłuższe niż 25 znaków</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
            || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch')}" type="password"
        class="form-control" formControlName="confirmPassword" placeholder="Powtórz hasło">
      <div
        *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched"
        class="invalid-feedback">Powtórz hasło</div>
      <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('password').touched" class="invalid-feedback">
        Oba hasła muszą być identyczne</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
        type="email" class="form-control" formControlName="email" placeholder="Email">
      <div class="invalid-feedback">Podaj swój email</div>
    </div>

    <div class="form-group">
      <input
        [ngClass]="{'is-invalid': registerForm.get('phoneNumber').errors && registerForm.get('phoneNumber').touched}"
        type="tel" class="form-control" formControlName="phoneNumber" placeholder="Numer telefonu">
      <div class="invalid-feedback">Podaj swój numer telefonu</div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Anuluj</button>
  <button type="button" class="btn btn-info" [disabled]="!registerForm.dirty"
    (click)="registerForm.reset()">Resetuj</button>
  <button type="button" class="btn btn-success" [disabled]="!registerForm.valid" (click)="register()"
    form="repairForm">Zatwierdź</button>
</div>